[submodule "llgo"]
	path = llgo
	url = https://github.com/ucb-hls/llgo.git
[submodule "llvm-cbe"]
	path = llvm-cbe
	url = https://github.com/ucb-hls/llvm-cbe.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/ucb-hls/llvm.git
[submodule "example/go-dsp"]
	path = example/go-dsp
	url = git@github.com:mjibson/go-dsp.git
